:root {
    --grid-size: 364px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: cadetblue;
}

hr {
    height: 2px;
    width: 80%;
    border-width: 0;
    color: gray;
    background-color: gray;
}

.docs-hr {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#sudoku-container {
    background-color: chartreuse;
    width: var(--grid-size);
    height: var(--grid-size);
}

/* Docs for game */

.docs-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.docs-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    word-break: break-word;
}


/* ************* */