:root {
    --grid-size: 364px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: cadetblue;
}

pre {
    margin: 0;
}

code {
    font-family: Consolas, "courier new";
    color: rgb(209 96 202);
    background-color: #143e39;
    padding: 2px;
    font-size: 105%;
}

hr {
    height: 2px;
    width: 80%;
    border-width: 0;
    color: gray;
    background-color: gray;
}

.docs-hr {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*Sudoku game*/

.canvas {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#sudoku-container {
    background-color: chartreuse;
    width: var(--grid-size);
    height: var(--grid-size);
}

#sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 10px;
    border-radius: 5px;
}

/*Sudoku game - fields*/

#sudoku-container>div {
    background-color: #f1f1f1;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* every 3rd column */
#sudoku-container>div:nth-child(3n) {
    border-right: 3px solid black;
}

/* every 3rd row */
#sudoku-container>div:nth-child(n+19):nth-child(-n+27),
#sudoku-container>div:nth-child(n+46):nth-child(-n+54),
#sudoku-container>div:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 3px solid black;
}

/*top & left*/
#sudoku-container>div:nth-child(-n+9) {
    border-top: 3px solid black;
}

#sudoku-container>div:nth-child(9n+1) {
    border-left: 3px solid black;
}

/**********************/

/*************/

/* Docs for game */

.docs-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.docs-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    word-break: break-word;
}


/* ************* */